td {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.newProdBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pr-title {
    background-color: #3ca859;
    padding: 20px;
    margin-bottom: 7px;
    

    h5 {
      color: white;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
  }

  
  