td {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.newProdBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  