

.supplier-panel {
    display: flex;
    flex-wrap: wrap;

    >div {
        flex-basis: 80%;

        @media (min-width: 576px) {
            flex-basis: 100%;
        }

        @media (min-width: 768px) {
            flex-basis: 100%;
        }

        @media (min-width: 992px) {
            flex-basis: 100%;
        }
    }

    .alert-danger {
        font-weight:100;
    }

    .alert-title {
        font-size: large;
    }

    .card {
        background-color: #3ca859;
        color: #ffffff;
        transition: background-color 0.3s ease-in-out;
        position: relative;

       

        .card-body {
            padding: 1rem;

            .card-title {
                font-weight: bold;
            }

            .card-text {
                margin-bottom: 0.5rem;
            }

            .btn {
                margin-top: 0.5rem;
            }
        }
    }
}


