.container.suppliers-top {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sup-title {
    background-color: #3ca859;
    padding: 20px;
    margin-bottom: 7px;

    h5 {
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.supplier-panel {
    display: flex;
    flex-wrap: wrap;

    >div {
        flex-basis: 100%;

        @media (min-width: 576px) {
            flex-basis: 100%;
        }

        @media (min-width: 768px) {
            flex-basis: 100%;
        }

        @media (min-width: 992px) {
            flex-basis: 100%;
        }
    }

    .alert-danger {
        font-weight: 100;
    }

    .alert-title {
        font-size: medium;
    }


    .card {
       
        color: #ffffff;
        position: relative;
        background: #3ca859ad !important;
        box-shadow: 0 8px 32px 0 rgba(30, 46, 50, 0.563) !important;
        backdrop-filter: blur(20px) !important;
        -webkit-backdrop-filter: blur(50px) !important;



        .card-body {
            padding: 1rem;

            .card-title {
                font-weight:400;
            }

            .card-text {
                margin-bottom: 0.5rem;
                font-weight:100;
            }

            .btn {
                margin-top: 0.5rem;
                
            }
        }
    }
}

