.modal {
    color: white;
    font-size: x-large;
    font-weight: 500;

    .mod-body {
        background-color: green;
    }

    Button {
        background-color: green;
        border: none;

        &:hover {
            background-color: #b2c020 !important;
        }
    }
}